a {
    text-decoration: none;
    color: inherit;
}
.comment {
    display: inline-block;
}
.comment-author {
    font-weight: bold;
    font-size: 0.9rem;
}
.comment-date {
    font-weight: light;
    font-size: 0.7rem;
    margin-right: 0.8rem;
}
.comment-content {
    font-size: 0.8rem;
}

.page-link {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}
.page-item.active .page-link {
 z-index: 1;
 color: #555;
 font-weight:bold;
 background-color: #f1f1f1;
 border-color: #ccc;

}
.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #fafafa;
  border-color: #ccc;
}