<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
  <!-- 구현 -->
  <div class="list-container">
    <h4 class="my-3 border-bottom pb-2">답변 수정</h4>
    <form th:object="${answerForm}" method="post">
      <!-- CSRF 값 수동 설정, th:action 불필요 -->
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <!-- 경고 발생 시 경고 출력 영역 -->
      <div th:replace="~{form_errors :: formErrorsFragment}"></div>
      <!-- 내용 적는 영역 -->
      <div class="mb-3">
        <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
      </div>
      <!-- 저장하기 버튼 -->
      <input class="btn btn-secondary my-2" type="submit" value="저장하기">
    </form>
  </div>
</div>
<script layout:fragment="script" type='text/javascript'>
  var simplemdeComment = new SimpleMDE({ element: document.getElementById("content") });
</script>
</html>