<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
  <!-- 구현 -->
  <!-- signup form -->
  <div class="form-container my-3">
    <div class="my-3 border-bottom">
      <div>
        <h4>비밀번호 변경</h4>
      </div>
    </div>
    <form th:action="@{/user/modify/password}" th:object="${userPasswordForm}" method="post">
      <div th:replace="~{form_errors :: formErrorsFragment}"></div>
      <div class="mb-3">
        <label for="presentPW" class="form-label">현재 비밀번호</label>
        <input type="password" th:field="*{presentPW}" class="form-control" placeholder="현재 비밀번호를 입력해주세요.">
      </div>
      <div class="mb-3">
        <label for="newPW" class="form-label">새 비밀번호</label>
        <input type="password" th:field="*{newPW}" class="form-control" placeholder="새 비밀번호를 입력해주세요.">
      </div>
      <div class="mb-3">
        <label for="newPW2" class="form-label">새 비밀번호 확인</label>
        <input type="password" th:field="*{newPW2}" class="form-control" placeholder="새 비밀번호 확인을 입력해주세요.">
      </div>
      <button type="submit" class="btn btn-secondary">변경하기</button>
    </form>
  </div>
</div>
</html>