<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
  <!-- 구현 -->
  <div class="list-container my-3">
    <div class="my-3 border-bottom">
      <div>
        <h4>자유게시판</h4>
      </div>
    </div>
    <div class="row my-3">
      <!-- 질문 등록 버튼 -->
      <div class="col-6">
        <a class="btn btn-secondary" th:href="@{/question/create}">글쓰기</a>
      </div>
      <!-- 검색 창 -->
      <div class="col-6">
        <div class="input-group">
          <input type="text" id="search_keyWord" class="form-control" th:value="${keyWord}">
          <button type="button" id="btn_search" class="btn btn-outline-secondary">검색</button>
        </div>
      </div>
    </div>
    <!-- model로 전달된 questionList 데이터로 질문 리스트 출력 -->
    <!-- 제목 / 작성일시 -->
    <table class="table round-top">
      <thead class="header-color">
      <tr class="text-center">
        <th>번호</th>
        <th>분류</th>
        <th style="width: 50%">제목</th>
        <th>글쓴이</th>
        <th>날짜</th>
        <th><i class="fa-solid fa-eye"></i></th>
        <th><i class="fa-solid fa-thumbs-up"></i></th>
      </tr>
      </thead>
      <tbody class="content-color">
      <tr th:each="question, loop : ${paging}" class="text-center">
        <!-- 게시물 번호 역순으로 출력; 총 게시물 수 ~ 총 게시물 수 - (페이징 개수 - 1 ~= loop.index) -->
        <!-- 페이지 증가 시 처음 오는 번호는 총 게시물 수 - (현재 페이지 * 페이징 개수) -->
        <!-- 첫번째 페이지 == 0 => 현재 페이지에서 1을 빼지는 않아도 됨 -->
        <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
        <!-- 게시글 카테고리 -->
        <td>
          <span th:if="${question.category != null}" th:text="${question.category.type}"></span>
        </td>
        <!-- 제목 클릭 시 해당 질문의 상세 페이지로 이동가능하도록 -->
        <td class="text-start">
          <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
          <!-- 질문 제목 오른쪽에 작은 글씨로 답변 개수 표기 -->
          <!-- 질문에 답변이 없을 경우 표기하지 않는다 -->
          <span th:if="${#lists.size(question.answerList) > 0}" th:text="${#lists.size(question.answerList)}" class="text-danger small ms-2"></span>
        </td>
        <!-- 작가 이름 표기 (없을 시 표기하지 않음) -->
        <td>
          <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
        </td>
        <td th:text="${@commonUtil.timeDifference(question.createDate)}"></td>
        <td th:text="${question.hit}"></td>
        <td th:text="${#lists.size(question.voter)}"></td>
      </tr>
      </tbody>
    </table>
    <!-- 페이징 구현 -->
    <div th:if="${!paging.isEmpty()}">
      <ul class="pagination justify-content-center">
        <!-- 처음 버튼 -->
        <li class="page-item" th:classappend="${paging.number == 0} ? 'disabled'">
          <a class="page-link" href="javascript:void(0);" th:data-page="${0}">
            <span>처음</span>
          </a>
        </li>
        <!-- 10 페이지 이전 버튼 -->
        <li class="page-item" th:classappend="${paging.number - 10 < 0} ? 'disabled'">
          <a class="page-link" href="javascript:void(0);" th:data-page="${paging.number-10}">
            <span><<</span>
          </a>
        </li>
        <!-- 이전 버튼 -->
        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
          <a class="page-link" href="javascript:void(0);" th:data-page="${paging.number-1}">
            <span><</span>
          </a>
        </li>
        <!-- 중간 페이지 넘버 버튼 -->
        <!-- 현재 페이지 기준 +- 2개만 노출 -->
        <li class="page-item" th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
            th:if="${page >= paging.number - 2 and page <= paging.number + 2 and paging.number > 1 and paging.number < paging.totalPages-2}"
            th:classappend="${page == paging.number} ? 'active'">
          <a class="page-link" href="javascript:void(0);" th:data-page="${page}" th:text="${page+1}"></a>
        </li>
        <!-- 1, 2, 끝-1, 끝 page 일 때일 때 5개 나오도록 -->
        <li class="page-item" th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
            th:if="${(paging.number <= 1 and page <= 4) or (paging.number >= paging.totalPages-2 and page >= paging.totalPages-5)}"
            th:classappend="${page == paging.number} ? 'active'">
          <a class="page-link" href="javascript:void(0);" th:data-page="${page}" th:text="${page+1}"></a>
        </li>
        <!-- 다음 버튼 -->
        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
          <a class="page-link" href="javascript:void(0);" th:data-page="${paging.number+1}">
            <span>></span>
          </a>
        </li>
        <!-- 10페이지 다음 버튼 -->
        <li class="page-item" th:classappend="${paging.number + 10 > paging.totalPages-1} ? 'disabled'">
          <a class="page-link" href="javascript:void(0);" th:data-page="${paging.number+10}">
            <span>>></span>
          </a>
        </li>
        <!-- 끝 버튼 -->
        <li class="page-item" th:classappend="${paging.number == paging.totalPages-1} ? 'disabled'">
          <a class="page-link" href="javascript:void(0);" th:data-page="${paging.totalPages-1}">
            <span>끝</span>
          </a>
        </li>
      </ul>
    </div>
    <form th:action="@{/question/list}" method="get" id="searchForm">
      <input type="hidden" id="keyWord" name="keyWord" th:value="${keyWord}">
      <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
  </div>
</div>
<script layout:fragment="script" type='text/javascript'>
  const page_elements = document.getElementsByClassName("page-link");
  Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
      document.getElementById('page').value = this.dataset.page;
      document.getElementById('searchForm').submit();
    });
  });
  const btn_search = document.getElementById("btn_search");
  btn_search.addEventListener('click', function() {
    document.getElementById('keyWord').value = document.getElementById('search_keyWord').value;
    document.getElementById('page').value = 0;
    document.getElementById('searchForm').submit();
  });
</script>
</html>