<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
  <!-- 구현 -->
  <div class="container my-3">
    <!-- model로 전달된 questionList 데이터로 질문 리스트 출력 -->
    <!-- 제목 / 작성일시 -->
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성일시</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="question, loop : ${questionList}">
        <td th:text="${loop.count}"></td>
        <!-- 제목 클릭 시 해당 질문의 상세 페이지로 이동가능하도록 -->
        <td>
          <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
        </td>
        <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</html>